<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel=" preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/nav_main.css">
    <!-- js -->
    <title>
        details
    </title>
</head>

<body>
    <div id="allEventComponent">
        <div class="contrainer">
            <nav>
                <div class="whatsthisnavbarhavenaa">
                    <a href="main.html">
                        <div class="circle"></div>
                    </a>
                    <div class="void"></div>
                    <a href="profile.html">
                        <div class="circle" v-show="user_status == 'logingin'">A</div>
                    </a>
                    <button class="btn_login" @click="pop_login = 'show'" v-show="user_status == 'anonymous'">
                        เข้าสู่ระบบ
                    </button>
                </div>

                <div class="pop_login" v-show="pop_login == 'show'" v-bind:class="[login == 'yet' ? 'register' : '']">
                    <div class="btn" @click="pop_login = 'hide'">
                        <i class="fas fa-times"></i>
                    </div>

                    <div class="pop_login_havewhat">

                        <div v-show=" login == 'used'">
                            <h3>เข้าสู่ระบบ</h3>
                            <form>
                                <input type="text" placeholder="ชื่อผู้ใช้" v-model="username" required />

                                <br />

                                <input type="text" placeholder="รหัสผ่าน" v-model="password" required />
                                <br />
                            </form>
                            <button class="btn btn_login" v-on:click="loginnn()">เข้าสู่ระบบ</button>
                            <h4 @click="login = 'yet'">สมัครสมาชิก</h4>
                        </div>
                        <div v-show=" login == 'yet'">
                            <h3>สมัครสมาชิก</h3>
                            <form>
                                <input type="text" placeholder="อีเมลล์" v-model="account_email" required />
                                <p class="textp" v-show="create_account_email == false">โปรดระบุอีเมล</p>
                                <p class="textp" v-show="create_account_email_info == false">อีเมลนี้เคยลงทะเบียนแล้ว
                                </p>

                                <input type="text" placeholder="ชื่อผู้ใช้" v-model="account_user" required />
                                <p class="textp" v-show="create_account_user == false">username ต้องอยู่ระหว่าง 1 - 12
                                    ตัวอักษร</p>
                                <p class="textp" v-show="create_account_user_info == false">username มีคนใช้งานแล้ว</p>

                                <input type="text" placeholder="รหัสผ่าน" v-model="account_pass" required />
                                <p class="textp" v-show="create_account_pass == false">password ต้องมีไม่ต่ำกว่า 9
                                    ตัวอักษร</p>
                                <input type="text" placeholder="ชื่อ" v-model="account_name" />
                                <p class="textp" v-show="create_account_name == false">โปรดระบุชื่อ</p><br />
                                <input type="text" placeholder="นามสกุล" v-model="account_sur" />
                                <p class="textp" v-show="create_account_sur == false">โปรดระบุนามสกุล</p><br />
                                <select name="gender" id="gender" v-model="account_gender">
                                    <option value="">โปรดเลือกเพศ</option>
                                    <option value="female">หญิง</option>
                                    <option value="male">ชาย</option>
                                    <option value="none">ไม่ระบุ</option>
                                </select>

                                <br>
                                <p class="textp" v-show="create_account_gender == false">โปรดระบุเพศ</p>

                                <input type="date" name="birthday" id="birthday" v-model="account_birth">
                                <p class="textp" v-show="create_account_birth== false">โปรดระบุวันเกิด</p>

                                <br>
                                <input type="text" placeholder="เบอร์โทรศัพท์" v-model="account_phone" />
                                <p class="textp" v-show="create_account_phone== false">โปรดระบุเบอร์โทร</p>
                                <br />

                                <input type="textarea" placeholder="ที่อยู่" v-model="account_address" />
                                <p class="textp" v-show="create_account_address == false">ที่อยู่ ต้องมีไม่ต่ำกว่า 50
                                    ตัวอักษร</p>
                                <br>
                                <input type="text" placeholder="รหัสไปรษณีย์" v-model="account_postal" />
                                <p class="textp" v-show="create_account_postal == false">โปรดระบุรหัสไปรษณีย์</p><br />
                            </form>
                            <button class="btn btn_login" @click="regis()">สมัครสมาชิก</button>
                            <h4 @click="login = 'used'">มีบัญชีผู้ใช้อยู่แล้ว</h4>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="event-billboard">
                <div class="bg clear">
                    <img :src="allevents[0].poster" alt="" class="background">
                </div>
                <div class="content container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md col-img">
                            <div class="box-img">
                                <img :src="allevents[0].poster" alt="" class="poster" />
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="box-txt">
                                <div class="row">
                                    <div class="col-12">
                                        <h1 class="title">{{allevents[0].name}}</h1>
                                    </div>
                                </div>
                                <div class="row row-detail">
                                    <div class="col-12 col-md">
                                        <ul class="event-detail-list">
                                            <li class="item">
                                                <i class="fa-solid fa-calendar-days"></i> <small>วันที่แสดง</small>
                                                <p class="txt">

                                                    <span>{{allevents[0].date}}</span>
                                                </p>
                                            </li>
                                            <li class="item">
                                                <i class="fa-solid fa-location-dot"></i> <small>สถานที่แสดง</small>
                                                <p class="txt">
                                                    <span>{{allevents[0].hall}}</span>

                                                </p>
                                            </li>
                                            <li class="item">
                                                <i class="fa-solid fa-clock"></i> <small>ประตูเปิด</small>
                                                <p class="txt">
                                                    <span>-</span>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-6 col-overlay">
                                        <ul class="event-detail-list">
                                            <li class="item">
                                                <i class="fa-solid fa-calendar-days"></i> <small>วัน Pre Sale</small>
                                                <p class="txt">
                                                    <span>วันอาทิตย์ที่ 2 เมษายน 2566, 10:00 น.</span>
                                                </p>
                                            </li>
                                            <li class="item">
                                                <i class="fa-solid fa-coins"></i> <small>ราคาบัตร</small>
                                                <p class="txt">
                                                    <span>{{allevents[0].price}}</span>
                                                </p>
                                            </li>
                                            <li class="item">
                                                <i class="fa-solid fa-ticket"></i> <small>Ticket Status</small>
                                                <p class="txt">
                                                    <span class="">
                                                        <span
                                                            class="ticket-status">{{allevents[0].status}}</span></span>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box_container">
                <div class="row_2">
                    <div class="col-12 col-lg-8">
                        <article class="event-detail">
                            <section class="section" id="section-event-round">
                                <h2 class="head">รอบการแสดง </h2>
                                <div class="body">
                                    <!-- EVENT ROUND -->
                                    <div class="event-detail-item">
                                        <div class="box-event-list">
                                            <div class="head">
                                                <div class="row_2">
                                                    <div class="col-label col-6"><small>วันที่แสดง</small></div>
                                                    <div class="col-btn col-6"><small>เวลา</small></div>
                                                </div>
                                            </div>
                                            <div class="body">
                                                <div class="row_2">
                                                    <div class="col-label">
                                                        <div class="date">วันอาทิตย์ที่ 4 มิถุนายน 2566</div>
                                                    </div>
                                                    <div class="col-btn" v-show="allevents[0].status === 'now'"
                                                        @click="buy()">
                                                        <span class="btn-item">
                                                            <a class="button"
                                                                style="background-color: #b40000; cursor: pointer;">
                                                                <span class="item-show">19:00</span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="col-btn"
                                                        v-show="allevents[0].status === 'out' || status === 'soon'">
                                                        <span class="btn-item">
                                                            <a class="button" href=""
                                                                style="background-color: #9e9e9e; cursor: not-allowed;">
                                                                <span class="item-show">19:00</span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row_2">
                                                    <div class="col-label">
                                                        <div class="date">วันอาทิตย์ที่ 4 มิถุนายน 2566</div>
                                                    </div>
                                                    <div class="col-btn" v-show="allevents[0].status === 'now'"
                                                        @click="buy()">
                                                        <span class="btn-item">
                                                            <a class="button"
                                                                style="background-color: #b40000; cursor: pointer;">
                                                                <span class="item-show">19:00</span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="col-btn"
                                                        v-show="allevents[0].status === 'out' || status === 'soon'">
                                                        <span class="btn-item">
                                                            <a class="button" href=""
                                                                style="background-color: #9e9e9e; cursor: not-allowed;">
                                                                <span class="item-show">19:00</span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / EVENT ROUND  -->
                                </div>
                            </section>

                            <section class="section detail">
                                <h2 class="head">รายละเอียด</h2>
                                <div class="body">
                                    <div style="text-align: center;">
                                        <div>
                                            <span class="text_detail"
                                                style="font-size:18px;"><strong>{{allevents[0].description}}</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </article>
                    </div>
                </div>
            </div>

            <footer>
                <div class="textfooter">
                    <h2>King Mongkut's Institute of Technology Ladkrabang</h2>
                    <h3>School of Infomation Technology</h3>
                    <h4>DATABASE SYSTEM CONCEPT</h4>
                </div>
            </footer>
        </div>
    </div>
</body>
<!-- <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
<script src="./main.js"></script>

</html>