<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css -->
    <link rel="stylesheet" href="../css/login.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel=" preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="left">
                <img src="../img/image.png" alt="">
            </div>
            <div class="right">
                <div class="circle"></div>
                <div class="text">
                    <h1> Login</h1>
                </div>
                <div class="form">
                    <div class="inp">
                        <i class="fa-solid fa-user" style="color: #2f0297;"></i>
                        <input type="text" name="username" class="box" placeholder="Enter Username" v-model="username"
                            required>
                    </div>
                    <div class="inp">
                        <i class="fa-solid fa-lock" style="color: #2f0297;"></i>
                        <input type="password" name="password" class="box" placeholder="Enter password"
                            v-model="password" required>
                    </div>
                    <button class="btn" v-on:click="summit()">Login</button>
                    <span class="regs"><a href="register.html"> Register</a></span>
                </div>

            </div>
        </div>
    </div>
</body>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            username: '',
            password: '',
            //ข้อมูลตย.เช็ค
            info: [
                {
                    user: "manee",
                    pass: "1234"
                }
            ]
        },
        methods: {
            summit() {
                //เช็คว่า user กับ pass ที่กรอกมาตรงกับข้อมูลที่ตรงไหม
                if (this.username == this.info[0].user && this.password == this.info[0].pass) {
                    console.log(this.username)
                    //บอกว่าให้เปลี่ยนไปหน้า main
                    window.location.href = 'main.html';
                    //ถ้าไม่กรอก
                } else if (this.username == '' && this.password == '') {
                    alert('กรุณาใส่ข้อมูล')
                }else{
                    //ถ้า user ผิด
                    alert('username หรือ password ผิด')
                }
            }
        },
    })
</script>

</html>