<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/style_main.css" />
  <link rel="stylesheet" href="../css/nav.css" />
  <link rel="stylesheet" href="../css/nav_main.css" />
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div id="allEventComponent">
    <div class="contrainer">
      <nav>
        <div class="whatsthisnavbarhavenaa">
          <a href="main.html">
            <div class="circle"></div>
          </a>
          <div class="void"></div>
          <a href="profile.html">
            <div class="circle" v-show="user_status == 'logingin'">A</div>
          </a>
          <button class="btn_login" @click="pop_login = 'show'" v-show="user_status == 'anonymous'">
            เข้าสู่ระบบ
          </button>
        </div>

        <div class="pop_login" v-show="pop_login == 'show'" v-bind:class="[login == 'yet' ? 'register' : '']">
          <div class="btn" @click="pop_login = 'hide'">
            <i class="fas fa-times"></i>
          </div>

          <div class="pop_login_havewhat">

            <div v-show=" login == 'used'">
              <h3>เข้าสู่ระบบ</h3>
              <form>
                <input type="text" placeholder="ชื่อผู้ใช้" v-model="username" required />

                <br />

                <input type="text" placeholder="รหัสผ่าน" v-model="password" required />
                <br />
              </form>
              <button class="btn btn_login" v-on:click="loginnn()">เข้าสู่ระบบ</button>
              <h4 @click="login = 'yet'">สมัครสมาชิก</h4>
            </div>
            <div v-show=" login == 'yet'">
              <h3>สมัครสมาชิก</h3>
              <form>
                <input type="text" placeholder="อีเมลล์" v-model="account_email" required />
                <p class="textp" v-show="create_account_email == false">โปรดระบุอีเมล</p>
                <p class="textp" v-show="create_account_email_info == false">อีเมลนี้เคยลงทะเบียนแล้ว</p>

                <input type="text" placeholder="ชื่อผู้ใช้" v-model="account_user" required />
                <p class="textp" v-show="create_account_user == false">username ต้องอยู่ระหว่าง 1 - 12 ตัวอักษร</p>
                <p class="textp" v-show="create_account_user_info == false">username มีคนใช้งานแล้ว</p>

                <input type="text" placeholder="รหัสผ่าน" v-model="account_pass" required />
                <p class="textp" v-show="create_account_pass == false">password ต้องมีไม่ต่ำกว่า 9 ตัวอักษร</p>
                <input type="text" placeholder="ชื่อ" v-model="account_name" />
                <p class="textp" v-show="create_account_name == false">โปรดระบุชื่อ</p><br />
                <input type="text" placeholder="นามสกุล" v-model="account_sur" />
                <p class="textp" v-show="create_account_sur == false">โปรดระบุนามสกุล</p><br />
                <select name="gender" id="gender" v-model="account_gender">
                  <option value="" >โปรดเลือกเพศ</option>
                  <option value="female">หญิง</option>
                  <option value="male">ชาย</option>
                  <option value="none">ไม่ระบุ</option>
                </select>

                <br>
                <p class="textp" v-show="create_account_gender == false">โปรดระบุเพศ</p>

                <input type="date" name="birthday" id="birthday" v-model="account_birth">
                <p class="textp" v-show="create_account_birth== false">โปรดระบุวันเกิด</p>

                <br>
                <input type="text" placeholder="เบอร์โทรศัพท์" v-model="account_phone"/>
                <p class="textp" v-show="create_account_phone== false">โปรดระบุเบอร์โทร</p>
                <br />

                <input type="textarea" placeholder="ที่อยู่" v-model="account_address" />
                <p class="textp" v-show="create_account_address == false">ที่อยู่ ต้องมีไม่ต่ำกว่า 50 ตัวอักษร</p>
                <br>
                <input type="text" placeholder="รหัสไปรษณีย์" v-model="account_postal" />
                <p class="textp" v-show="create_account_postal == false">โปรดระบุรหัสไปรษณีย์</p><br />
              </form>
              <button class="btn btn_login" @click="regis()">สมัครสมาชิก</button>
              <h4 @click="login = 'used'">มีบัญชีผู้ใช้อยู่แล้ว</h4>
            </div>
          </div>
        </div>
      </nav>
      <div class="carousel" v-for="events in allevents" v-if="events.carousel === 'true'">
        <iframe class="ccc" width="100%" height="80%" src="https://www.youtube.com/embed/6Ia6PLUZbCg?autoplay=1&mute=1"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <div class="framepic_carousel">
          <img class="poster_carousel" :src="events.poster" />
        </div>
        <div>
          <div class="detailc">
            <div class="namec">
              <h3>{{events.name}}</h3>
            </div>
            <div class="datec">
              <p>{{events.date}}</p>
            </div>
            <div class="locationc">
              <i class="fas fa-map-marker-alt"></i>
              <h4>{{events.hall}}</h4>
            </div>
            <p>{{events.description}}</p>
          </div>
        </div>
      </div>

      <div class="cate">
        <div>
          <h3 class="allBtn" v-bind:class="[page == 'all' ? 'allcancomselecting' : '']" v-on:click="page = 'all'">
            ทุกการแสดง
          </h3>
        </div>
        <h3 class="canbuyBtn" v-bind:class="[page == 'now' ? 'allcancomselecting' : '']" v-on:click="page = 'now' ">
          ซื้อบัตร
        </h3>
        <h3 class="comingBtn" v-bind:class="[page == 'soon' ? 'allcancomselecting' : '']" v-on:click="page = 'soon'">
          เร็วๆนี้
        </h3>
        <!-- search -->
        <div class="filterfunc">
          <i class="fas fa-search"></i>
          <input type="text" class="filter" v-model="searchName" />
        </div>
      </div>

      <hr />
      <div class="all_concert all_e" v-show="page == 'all'">
        <div v-for="events in newData">
          <div class="card">
            <div class="framepic">
              <img class="poster" :src="events.poster" />
            </div>
            <div class="detail">
              <div class="name">
                <h3>{{events.name}}</h3>
              </div>
              <div class="date">
                <p>{{events.date}}</p>
              </div>
              <div class="location">
                <i class="fas fa-map-marker-alt"></i>
                <h4>{{events.hall}}</h4>
              </div>
            </div>
            <a href="detail.html">
              <div class="button_canbuy">
                <h3>ซื้อบัตร</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="all_concert canbuy" v-show="page == 'now'">
        <div v-for="events in newData" v-if="events.status === 'now'">
          <div class="card">
            <div class="framepic">
              <img class="poster" :src="events.poster" />
            </div>
            <div class="detail">
              <div class="name">
                <h3>{{events.name}}</h3>
              </div>
              <div class="date">
                <p>{{events.date}}</p>
              </div>
              <div class="location">
                <i class="fas fa-map-marker-alt"></i>
                <h4>{{events.hall}}</h4>
              </div>
            </div>
            <a href="detail.html">
              <div class="button_canbuy">
                <h3>ซื้อบัตร</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="all_concert coming" v-show="page == 'soon'">
        <div v-for="events in newData" v-if="events.status === 'soon'">
          <div class="card">
            <div class="framepic">
              <img class="poster" :src="events.poster" />
            </div>
            <div class="detail">
              <div class="name">
                <h3>{{events.name}}</h3>
              </div>
              <div class="date">
                <p>{{events.date}}</p>
              </div>
              <div class="location">
                <i class="fas fa-map-marker-alt"></i>
                <h4>{{events.hall}}</h4>
              </div>
            </div>
            <a href="detail.html">
              <div class="button_canbuy">
                <h3>ซื้อบัตร</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
      <footer>
        <div class="textfooter">
          <h2>King Mongkut's Institute of Technology Ladkrabang</h2>
          <h3>School of Infomation Technology</h3>
          <h4>DATABASE SYSTEM CONCEPT</h4>
        </div>
      </footer>
    </div>
  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./main.js"></script>
</body>

</html>