.whatsthisnavbarhavenaa{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
.menu a{
    color: hsl(0, 59%, 41%);
}
span {
    color: #eee;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #f86161 0%, #970202 100%);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-family: "Kanit", sans-serif;
    color: white;
    font-weight: 300;
}

.btn_login{
    height: 40px;
    border-radius: 20px;
    width: 150px;
    font-size: large;
    font-family: "Kanit", sans-serif;
    background-color: hsl(0, 59%, 41%);
    border: none;
    color: white;
    cursor: pointer;
}
.btn_login:hover{
    background-color: hsl(0, 61%, 27%);
}


.void{
    flex: 1;
}

.pop_login{
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 30vw;
    background-color: rgb(58, 58, 58);
    left: calc(50% - 15vw);
    top:50%;
}

form{
    position: relative;
}

a {
    text-decoration: none;
}