body{
    background-color: hsl(240, 7%, 11%);
    margin: 0;
}

.ticket{
    width: 450px;
    height: 600px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    text-align: center;
}

.qr{
    width: 80%;
    margin-top: 50px;

}

.zoneseat{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 5%;
    justify-content: center;
    
}
