html {
  padding: 0;
}

body {
  background-color: hsl(240, 7%, 11%);
  margin: 0;
}

.contrainer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

h3,
p,
h4 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Kanit", sans-serif;
  line-height: 20px;
}
h3 {
  font-weight: 600;
  font-size: medium;
}

h4,
i {
  font-weight: 500;
  color: #381280;
  font-size: small;
}

p {
  font-weight: 400;
  font-size: small;
}

.carousel {
  position: relative;
  width: 100%;
  height: 26vw;
  background: hsl(240, 6%, 6%);
  margin-bottom: 10vw;
  display: grid;
  grid-template-columns: 55% 15% 20%;
  gap: 2%;
  padding-top: 5vw;
}

.ccc {
  width: 90%;
  height: 25vw;
  margin: auto;
  border-radius: 30px;
}

.poster_carousel {
  margin: auto;
  margin-top: calc(100% - 10vw);
  width: 100%;
  border-radius: 10px;
}

.framepic_carousel {
  width: 100%;
}

.all_concert {
  position: relative;
  width: 65%;
  height: auto;
  display: grid;
  grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
  grid-gap: 1%;
  margin: auto;
  margin-bottom: 50px;
  /* background-color: #ECEEF3; */
  transition: 0.2s;
}

.card {
  position: relative;
  width: 100%;
  height: 26vw;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(12, 65, 255, 0.1);
  overflow: hidden;

  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.framepic {
  position: relative;
  width: 100%;
  height: 65%;
  overflow: hidden;
  text-align: center;
}
.poster {
  position: relative;
  width: 100%;
}

.detail {
  position: relative;
  width: 90%;
  height: 25%;
  margin: auto;
  overflow: hidden;
  padding-top: 10px;
}

.name {
  height: 50%;
  overflow: hidden;
  color: #2e0c6d;
}
.date {
  height: 15%;
}

.location {
  height: 20%;
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.button_canbuy {
  position: relative;
  width: 100%;
  height: 10%;
  background: linear-gradient(to right, #9e1212, #d31212);
  margin: auto;
}

.button_canbuy:hover {
  position: relative;
  /* width: 90%; */
  /* height: 8%; */
  background: linear-gradient(to right, #801212, #863232);
  /* border-radius: 50px; */
  margin: auto;
  cursor: pointer;
}

.button_canbuy h3 {
  font-family: "Kanit", sans-serif;
  color: white;
  text-align: center;
  font-size: medium;
  font-weight: 400;
  padding-top: 0.6vw;
}

.button_cannotbuy {
  position: relative;
  width: 100%;
  height: 10%;
  background: rgb(245, 234, 255);
  margin: auto;
}

.button_cannotbuy h3 {
  font-family: "Kanit", sans-serif;
  color: #381280;
  text-align: center;
  font-size: medium;
  font-weight: 400;
  padding-top: 0.6vw;
}

.show {
  /* position: relative;
    height: auto; */
  position: absolute;
  z-index: 1;
  right: calc(100% - 82.5%);
  transition: 0.5s;
}

.hide {
  /* position: relative;
    height: 0;
    overflow: hidden;
    margin: 0; */
  position: absolute;
  z-index: -100;
  right: 0;
  transition: 0.5s;
  opacity: 0;
  height: 0;
}

hr {
  width: 70%;
  margin-bottom: 2vw;
  margin-top: 1.2vw;
  background-color: #be4646;
  border: none;
  height: 3px;
  border-radius: 200px;
}

.cate {
    position: relative;
  display: flex;
  gap: 20px;
  width: 65%;
  margin: auto;
}

.allBtn,
.canbuyBtn,
.comingBtn {
  font-size: larger;
  cursor: pointer;
  color: #414141;
  font-weight: 500;
}

.allBtn:hover,
.canbuyBtn:hover,
.comingBtn:hover {
  font-size: larger;
  color: #9e1212;
}

.allcancomselecting {
  color: #9e1212;
}

.detailc {
  color: #eceef3;
  margin-top: 150px;
}

.namec {
  height: 60%;
  overflow: hidden;
  color: #ffffff;
}
.datec {
  height: 15%;
}

.locationc {
  height: 20%;
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.locationc h4,
.locationc i {
  margin-top: 10px;
  color: #ffffff;
}

.fa-search{
    color: #ffffff;
    font-size: 22px;
    
}

.filter{
    border-radius: 20px;
    width: 80%;
    height: 1.5vw;
    margin-top: -5px;
    border: none;
    padding-left: 10px;
}

.filterfunc{
    width: 20vw;
    gap: 10px;
    position: absolute;
    right: 0;
    
}

a {
  text-decoration: none;
}