* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  background-color: #000000;
  display: grid;
}

#contrainer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#zone-box {
  background-color: #000000;
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

.A {
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

#rate {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 500px;
  border-radius: 10px;
}

#zone-seat {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
}

#zone-stand {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
}

#zone-seat div,
#zone-stand div {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
 
}

.zone-B,
.zone-C {
  margin-top: 15px;
}

.K1,
.K2 {
  background-color: #C6B3A8;
  width: 280px;
  height: 40px;
}

.A {
  background-color: #9A7263;
  width: 200px;
  height: 50px;

}

.B {
  background-color: #743835;
  width: 200px;
  height: 80px;
}

.C {
  background-color: #6D2121;
  width: 200px;
  height: 100px;
}

.K1,
.K2,
.zone-A,
.zone-B,
.zone-C {
  transition: 0.3s;
}

.zone-C:hover,
.zone-B:hover,
.zone-A:hover,
.K1:hover,
.K2:hover {
  transform: scale(1.1);
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 630px;
  height: 50px;
  border-radius: 10px;
}


#price {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  margin-left: -110px;
}

#rate h3 {
  margin: 30px 0px 10px 30px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.stand,
.seat-A,
.seat-B,
.seat-C {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #070707;
}

.stand {
  background-color: #C6B3A8;
}

.seat-A {
  background-color: #9A7263;
}

.seat-B {
  background-color: #743835;
}

.seat-C {
  background-color: #6D2121;
}

.line {
  width: 250px;
  height: 2px;
  margin: 0px 0px 20px 30px;
  background-color: #000;
}

a {
  text-decoration: none;
}

.date-seat {
  margin: 0 0 20px 30px;
}

select {
  width: 130px;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;

}

.seat-sn {
  border: none;
  background-color: brown;
  width: 80px;
  padding: 5px;
  margin-left: 20px;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
}

.popup {
  /* display: none; */
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  font-size: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

}

.popup-zone {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 350;
  height: 420px;
  font-size: 20px;

  text-align: center;
  justify-content: center;
  align-items: center;
  animation-name: animatetop;
  animation-duration: 0.5s
}
.popup-zone p{
  margin-top: 10px;
}

table{
  border-collapse: collapse;
}

th,td{
  font-weight: normal;
  width: 200;
  text-align: center;
  height: 35;
  border-bottom: 2px solid black;
}

.zone-other {
  display: flex;
  font-size: 16px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-change{
  border: 2px solid brown;
  border-radius: 10px;
  padding: 5px 15;
  background-color: #ffffff;
  color: brown;
  cursor: pointer;
  margin-left: 0;
  margin-top: 20;
}

@keyframes animatetop {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}